.header-wrapper {
  width: 100%;
  background-color: #000;
  border-bottom: 1px solid #333;
}

.header-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding: 0 48px;
  width: 100%;
  max-width: 1512px;
  height: 84px;
}

.header-link {
  display: flex;
  align-items: center;
}

.count-text {
  margin-left: 8px;
  line-height: 18.75px;
  color: #fff;
}
