.favorites-wrapper {
  padding: 16px;

  @media (min-width: 834px) {
    padding: 48px;
  }

  @media (min-width: 1512px) {
    max-width: 1512px;
    margin: 0 auto;
  }
}

.favorite-list {
  display: grid;
  gap: 16px;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto;
  padding-top: 24px;

  @media (min-width: 834px) {
    grid-template-columns: repeat(4, 1fr);
  }

  @media (min-width: 1512px) {
    grid-template-columns: repeat(7, 1fr);
  }
}
